<!DOCTYPE HTML>
<html>
<head>
	{% include "header.html" %}
</head>
<body>
	{% include "menu2.html" %}
	<div class="register-form-main">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>A</span>dd <span>M</span>edicine
				</h3>
			</div>
			<div class="login-form">

				<form name="form" action="/add_medicine_action/" method="post">
                    {% csrf_token %}
					<div class="">
						<p>Medicine Name</p>
						<input type="text" class="name" name="name" required="required"/>
					</div>

					<div class="">
						<p>Brand</p>
						<input type="text" class="name" name="brand" required="required"/>
					</div>

                    <div class="">
						<p>Expiry Date</p>
						<input type="date" class="name" name="expiry_date" required="required" style="width: 580px;height: 45px;"/>
					</div>

					<div class="">
						<p>Price</p>
						<input type="number" class="name" name="price" required="required" style="width: 580px;height: 45px;"/>
					</div>
                    <div class="">
						<p>Quantity</p>
						<input type="number" class="name" name="quantity" required="required" style="width: 580px;height: 45px;"/>
					</div>
                    <div class="">
						<p>Description</p>
                        <textarea  class="name" name="description" required="required" style="width: 580px;height: 45px;"></textarea>
					</div>
					<br />
					<input type="submit" value="Add Medicine">
				</form>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>
</html>